<h1>Welcome to Star Trek Battle</h1>
<h2>Please enter names for player 1 and 2</h2>
<div>
  <form action='/names' method='post'>
    <label for='player_1_name'>Player 1</label>
    <input type='text' name='player_1_name' placeholder='Picard'>
    <label for='player_1_name'>Player 2</label>
    <input type='text' name='player_2_name' placeholder='Kirk'>
    <input type='submit' name='submit'> 
  </form>
</div>